@media screen and (min-width: 320px) and (max-width: 479px) {
  .mobile-modal {
    width: 95%;
  }
  .modal {
    width: 95%;
  }
  .main-title {
    width: 95%;
  }
}
@media screen and (min-width: 480px) {
  .mobile-modal {
    width: 428px;
  }
  .modal {
    width: 392px;
  }
  .main-title {
    width: 319px;
  }
}
