@media screen and (min-width: 320px) and (max-width: 427px) {
  .container {
    width: 320px;
  }
  .main-box {
    width: 320px;
  }
  .mobile-modal {
    width: 290px;
  }
  .modal {
    width: 290px;
  }
  .main-title {
    width: 290px;
  }
  .subscribe-btn {
    margin-top: 24px;
  }
}
@media screen and (min-width: 428px) and (max-width: 767px) {
  .mobile-modal {
    width: 428px;
  }
  .modal {
    width: 392px;
  }
  .main-title {
    width: 319px;
  }
  .subscribe-btn {
    margin-top: 24px;
  }
}
