:root {
  --white-color: #ffffff;
  --main-text-color: #2e2f42;
  --second-text-color: #434455;
  --button-color: #4d5ae5;
  --logo-txt-color: #404bbf;
  --footer-text: #e7e9fc;
  --footer-logo: #f4f4fd;
  --footer-logo-bgc: #31d0aa;
  --border: #e7e9fc;
}

ul,
h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--main-text-color);
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
}
.navigation {
  display: flex;
  align-items: center;
}
.main-nav {
  display: flex;
  align-items: center;
}
.header-logo,
.header-web {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}
.header-logo {
  margin-right: 75px;
}
.header-web {
  color: var(--button-color);
}

.header-link {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}
.site-nav {
  display: flex;
  text-align: center;
}
.site-nav .list-link {
  display: block;
  padding-top: 24px;
  padding-bottom: 24px;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;

  color: var(--main-text-color);
}
.site-nav .list-item + .list-item {
  margin-left: 40px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.tell-item {
  margin-left: 40px;
}

.list-link:hover,
.mail:hover,
.mail:focus,
.tell-numer:hover,
.tell-numer:focus {
  color: var(--logo-txt-color);
}
.mail,
.tell-numer {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
.main-box {
  margin-left: auto;
  margin-right: auto;
  width: 1152px;
  height: 600px;
  padding-top: 118px;
  padding-bottom: 118px;
  text-align: center;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office\ 1.jpg);
  background-position: 0 0;
}
.main-title {
  margin-bottom: 65px;
  margin-left: auto;
  margin-right: auto;
  width: 496px;
  font-weight: 600;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.button {
  padding: 16px 32px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--button-color);
  box-shadow: var(--box-shadow);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
.button:hover,
.button:focus {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.04em;
  color: var(--white-color);
  background: var(--logo-txt-color);
  box-shadow: var(--box-shadow);
  border-radius: 4px;
  cursor: pointer;
  padding: 16px 32px;
}

/*----- SECTION MISSION -----*/
.mission {
  padding-top: 120px;
  padding-bottom: 120px;
}
.mission-title-list {
  display: flex;
  text-wrap: wrap;
}
.mission-item {
  max-width: 265px;
}
.mission-item + .mission-item {
  margin-left: 25px;
}

.mission-icon {
  height: 112px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: #f4f4fd;
  border-radius: 4px;

  margin-bottom: 8px;
}
.icon-svg {
  width: 60px;
  height: 64px;
}
.mission-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.mission-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
/*-----SECTION JOB-----*/
.job {
  margin-bottom: 120px;
}

.job-header {
  margin-bottom: 70px;
  text-align: center;
  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.job-list {
  display: flex;
}
.job-list .job-item + .job-item {
  margin-left: 24px;
  align-self: center;
}
/*-----SECTION TEAM-----*/
.team {
  background-color: var(--footer-logo);
}

.team-item > img {
  display: block;
}
.our-team-title {
  text-align: center;
  padding-top: 120px;
  margin-bottom: 70px;

  font-weight: 600;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}
.team-list {
  display: flex;
  padding-bottom: 110px;
}
.team-description {
  padding-top: 32px;
  padding-bottom: 32px;
  background: var(--white-color);
  text-align: center;

  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
}
.team-item + .team-item {
  margin-left: 24px;
}
.team-image {
}
.team-title {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}
.team-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
  margin-bottom: 8px;
}

.social-item {
  display: flex;

  justify-content: space-around;
}
.social-list {
}
.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-color);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}
.social-icon {
  width: 16px;
  height: 16px;
}
.social-link:hover,
.social-link:focus {
  background-color: var(--logo-txt-color);
}
/* =======CUSTOMERS====== */
.customer {
  padding-top: 120px;
  padding-bottom: 120px;
}
.customer-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1, 11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--main-text-color);
  margin-bottom: 72px;
}
.customer-list {
  display: flex;
}

.customer-item {
  /* width: calc((100% - 120px) / 6); */
}

.customer-item + .customer-item {
  margin-left: 24px;
}
.customer-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  border: 1px solid #8e8f99;
  border-radius: 4px;
  fill: #8e8f99;
}

.customer-link:hover,
.customer-link:focus {
  border: 1px solid var(--logo-txt-color);
  fill: var(--logo-txt-color);
}

/* ----FOOTER---- */

.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--main-text-color);
}
.media-box {
  display: flex;
  flex-direction: row;
}
.footer-media {
  margin-right: 120px;
}
.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--footer-logo);
}
.footer-web {
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--button-color);
}

.footer-text {
  display: block;
  width: 264px;
  padding-top: 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--footer-text);
}

.media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;

  color: var(--white-color);
}
.media-list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  margin-top: 15px;
}
.media-item + .media-item {
  margin-left: 16px;
}
.media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

.media-link:hover,
.media-link:focus {
  background-color: var(--footer-logo-bgc);
}

.media-icon {
  width: 24px;
  height: 24px;
}
/* ----PORTFOLIO PAGE----- */

/* FILTERS */
.border-btm {
  border-bottom: 1px solid var(--border);
}
.nav-btn {
  display: flex;
  justify-content: center;
  margin-bottom: 85px;
}
.filter-item + .filter-item {
  margin-left: 24px;
}
.filter-btn {
  padding: 12px 24px;
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--footer-logo);
  color: var(--button-color);
  border: 1px solid var(--border);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 4px;
  cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus {
  font-family: inherit;
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background: var(--button-color);
  color: var(--white-color);
}

/*==== PORTFOLIOS==== */
.portfolio {
  padding-top: 120px;
  padding-bottom: 120px;
}
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-link {
  display: block;
  width: calc((100% - 48px) / 3);
  margin-right: 24px;
  margin-bottom: 48px;
  background: var(--white-color);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.portfolio-item {
  padding-top: 30px;
  padding-left: 15px;
  padding-bottom: 30px;
  border-bottom: 1px solid var(--border);
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.portfolio-link:nth-child(3n) {
  margin-right: 0;
}
.portfolio-link:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/*------ SECTION FILTERS---- */

.filters-title {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}

.filters-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--second-text-color);
}
